@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: #1e1e1e;
    color: white;
    font-family: "Raleway", sans-serif;
}

.btn-danger {
    background: #4469ff;
    border-color: #718eff;
    border-width: 4px;
}